// Styling for the masthead
section#masthead {
  position: relative;
  .wt-background-headerImg {
    background: url(../img/main_bg.jpg) no-repeat 50% 50% / cover , #000;
  }
  .wt-block-intro {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    h1.wt-section-heroTitle {
      font-size: 36px;
      line-height: 40px;
      font-family: 'Montserrat Bold', sans-serif;
      font-weight: 700;
      width: 100%;
      -webkit-text-decoration: none;
      text-decoration: none;
      font-style: normal;
      letter-spacing: 0.2em;
      span {
        color: #00C2FF;
      }
    }
    .block-text {
      font-size: 18px;
      line-height: 1.5;
      width: 100%;
      letter-spacing: 0.1em;
      margin-bottom: 45px;
    }
    .block-last {
      padding: 30px;
      border-left: 1px solid #fff;
      .block-last-text {
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.1em;
      }
    }
  }
}
@media (max-width: 767px) {
  section#masthead .wt-block-intro h1.wt-section-heroTitle {
    font-size: 28px;
  }
  section#masthead.thank-you {
    a.text-white {
      line-height: 1.3;
      text-align: right;
    }
  }
}
@media (min-width: 992px) {
  section#masthead .wt-block-intro {
    padding-top: 100px;
    padding-bottom: 100px;
    h1.wt-section-heroTitle {
      max-width: 1050px;
    }
    .block-text {
      max-width: 450px;
    }
  }
}
@media (min-width: 1200px) {
  section#masthead.thank-you {
    height: 100vh;
  }
}
